<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>-->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/credit_simulation</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">kamalbank123</property>
        <maping class="DTO.Client"></maping>
    </session-factory>
</hibernate-configuration>